body {
    background-color: rgb(248, 251, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
}
.row {
    display: flex;
    margin-bottom: 35px;
}
.descript {
    margin-left:20px;
    box-sizing: border-box;
    word-wrap: break-word;
}
.photo-box {
    width: 35%;
    border-radius: 50%;
}
.technical_card{
    display:flex;
}
.technical_paragraph {
    color: #000;
    text-align: center;
    margin-bottom: 0px;
}
.technical_paragraph > p {
    margin-bottom: 7px;
}   
.technical_data {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 0px;
}
.technical_data > ul {
    
    padding-left: 0px;
}
.technical_data > ul > li {
    margin-bottom: 8px;
    padding-left: 0px;
    padding-right: 10px;
}
.links {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.links > :last-child {
    margin-left: 50px;
}
.Nissan {
text-decoration: none;
color:#000;
font-weight: 600;
}
h2 {
    text-align: center;
}
.invitation-block {
    margin-bottom: 40px;
}
.invitation-block > p::selection{
    background: rgba(122,122,122);
}
.invitation {
    margin-bottom: 5px;
    font-weight: 400;
}
.opros {
    margin-bottom: 20px;
    display: flex;
}
.inputName > p{
    margin-top: 0;
    margin-bottom: 0;
}
.placeholder {
margin-left: 15px;
}
.opros > div > label > input {
    outline:none;
    margin-left: 10px;
    margin-right: 19px;
    width: 50%;
}
.btn {
    background-color: #000;
    color: #f25f;
    cursor: pointer;
    padding: 5px;
    border: none;
    width: 75%;
    position: relative;
    margin: auto;
    box-sizing: content-box;
    border-radius: 11px;
    margin-bottom: 5px;
}
    .btn > p {
        text-align: center;
        margin: 0;
    }
.btn:hover {
    opacity: 0.99   ;
    background-color: rgb(66, 66, 66);
    transition: 2s;
    transform: scale(1.5);
    }
    .up {
        position:fixed;
        bottom:50px;
        left:50px;
        width: 50px;
        height: 50px;
        background-color: #000;
        cursor:pointer;
        text-decoration: none;
        border-radius: 15%;
    }
  .up-text {
      text-align: center;
      padding-top: 0;
     font-size: 25px;
     position: relative;
     top: -19px;
     text-decoration: dashed;
  }
  @media (max-width: 1024px) {
    body {
        font-size: 10px;
    } 
    .row {
        display: block;
    }
    .technical_card{
        display:block;
    }
    .technical_paragraph {
        display: flex;
        justify-content: center;
    }
    .photo-box {
        margin-left: 30%;
    }
    .up {
        position:fixed;
        bottom:25px;
        left:25px;
        width: 25px;
        height: 25px;
        background-color: #000;
        cursor:pointer;
        text-decoration: none;
        border-radius: 15%;
    }
  .up-text {
      text-align: center;
      padding-top: 0;
     font-size: 18px;
     position: relative;
     top: -19px;
     text-decoration: dashed;
  }
  .opros {
    margin-bottom: 20px;
    display: block;
}
.opros > div > label> input {
    outline: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
  }
  .links {
display: block;
text-align: center;
  }
.links > :last-child {
    margin-left: 0px;
  }
  .knopka {  
    text-align: center;
  }
  .btn {
      width: 50%;
      word-break: break-all;
      height: 50px;
      overflow: scroll;
  }
}